@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&display=swap');
body {
    background-color: bisque;
    color: brown;
    font-family: "Edu AU VIC WA NT Pre";
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    text-decoration: none;
    color: brown;
}

.hello {
    color: rgb(186, 146, 194);  
}

.itens-menu {
    color: rgb(186, 146, 194);
    display: flex;
}

.itens-menu li {
    margin-left: 40px;
}

main {
    margin: 60px;
}